$background-dark: 38 38 38;
$background-muted: 96 96 96;
$text-light: 255 255 255;
$accent-dark: 63 2 7;
$accent-bright: 226 2 17;
$accent-bright-variant: 196 7 23;

/* Color Theme Swatches in Hex */
$background-dark-hex: #262626;
$background-muted-hex: #606060;
$text-light-hex: #ffffff;
$accent-dark-hex: #400207;
$accent-bright-hex: #e20212;
$accent-bright-variant-hex: #c50717;

/* Color Theme Swatches in RGBA */
$background-dark-rgba: rgba(38, 38, 38, 1);
$background-muted-rgba: rgba(96, 96, 96, 1);
$text-light-rgba: rgba(255, 255, 255, 1);
$accent-dark-rgba: rgba(63, 2, 7, 1);
$accent-bright-rgba: rgba(226, 2, 17, 1);
$accent-bright-variant-rgba: rgba(197, 7, 23, 1);

/* Color Theme Swatches in HSLA */
$background-dark-hsla: hsla(0, 0%, 14%, 1);
$background-muted-hsla: hsla(0, 0%, 37%, 1);
$text-light-hsla: hsla(0, 0%, 100%, 1);
$accent-dark-hsla: hsla(355, 93%, 12%, 1);
$accent-bright-hsla: hsla(355, 98%, 44%, 1);
$accent-bright-variant-hsla: hsla(355, 93%, 40%, 1);
