$color-background: 0 18 25;
$color-1: 0 95 115;
$color-2: 10 147 150;
$color-3: 148 210 189;
$color-4: 233 216 166;
$color-5: 238 155 0;
$color-6: 202 103 2;
$color-7: 187 62 3;
$color-8: 174 32 18;
$color-9: 155 34 38;

$color-background-hex: #001219;
$color-1-hex: #005f73;
$color-2-hex: #0a9396;
$color-3-hex: #94d2bd;
$color-4-hex: #e9d8a6;
$color-5-hex: #ee9b00;
$color-6-hex: #ca6702;
$color-7-hex: #bb3e03;
$color-8-hex: #ae2012;
$color-9-hex: #9b2226;

$color-background-rgb: rgb(0, 18, 25);
$color-1-rgb: rgb(0, 95, 115);
$color-2-rgb: rgb(10, 147, 150);
$color-3-rgb: rgb(148, 210, 189);
$color-4-rgb: rgb(233, 216, 166);
$color-5-rgb: rgb(238, 155, 0);
$color-6-rgb: rgb(202, 103, 2);
$color-7-rgb: rgb(187, 62, 3);
$color-8-rgb: rgb(174, 32, 18);
$color-9-rgb: rgb(155, 34, 38);
