---
const { title } = Astro.props;
const titleParts = title.split(" ");
---

<section class="title-wrapper">
  <h1>
    {
      titleParts.map((part: string) => (
        <span class="part-container">
          <span class="first-letter">{part[0]}</span>
          <span class="full-text">{part} </span>
        </span>
      ))
    }
  </h1>
</section>

<style lang="scss">
  section {
    height: 60vmin;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  h1 {
    white-space: nowrap;
    font-size: clamp(4em, 11vmin, 6em);
    display: flex;
    gap: 0.1em;

    & .part-container {
      display: grid;

      & span {
        grid-area: 1/1;
      }
    }

    & .full-text {
      display: inline-block;
      contain: paint;
      animation: shorten 5s ease forwards;
    }
  }

  @keyframes shorten {
    from {
      width: auto;
    }

    to {
      width: 0;
    }
  }
</style>
