---
const { title } = Astro.props;
---

<h1 style={`--title: '${title}'`}>
  <span aria-hidden="true" style="--i: 0"></span>
  <span aria-hidden="true" style="--i: 1"></span>
  <span>{title}</span>
</h1>

<style lang="scss">
  h1 {
    display: grid;

    span {
      --j: calc(1 - var(--i));
      --sgn: calc(2 * var(--i) - 1);
      grid-area: 1/1;
      place-self: center;
      translate: calc(var(--sgn) * 4px) calc(var(--sgn) * -3px);
      color: hsla(0, 0%, 100%, 0.001);
      font-size: clamp(1em, 19vmin, 9em);
      --mask: linear-gradient(
        8deg,
        hsla(0, 0%, 0%, var(--j)) calc(50% - 1px),
        hsla(0, 0%, 0%, var(--i)) calc(50% + 1px)
      );

      &[aria-hidden] {
        pointer-events: none;

        &::after {
          background-image: linear-gradient(
            8deg,
            rgb($color-4) 32%,
            rgb($color-5) calc(50% - 1px),
            rgb($color-background),
            rgb($color-4) calc(50% + 1px)
          );
          background-clip: text;
          -webkit-background-clip: text;
          mask: var(--mask);
          content: var(--title);
        }
      }
    }
  }
</style>
